<app-header></app-header>

<div class="elementos width " >
    <form [formGroup]="form">
      <p-autoComplete
        [formControlName]="estado"      
        [suggestions]="searchStates"
        (completeMethod)="search($event)"
        placeholder="State name"
        [dropdown]="true"
        dataKey="id"
        field="name"
        [forceSelection]="true"
        (onSelect)="onSelect($event)"
      >
      </p-autoComplete>
    </form>
  </div>
  
  <div class="elementos">
    <p-panel header="{{ filteredState }}">
      <div class="grid">
        <div
          *ngFor="let item of serviceStatusFilterByState"
          class="col-3 elementos"
        >
          <p-card>
            <div class="col-9">{{ item.service }}</div>
            <div class="col-3"> <i class="pi {{ item.status  | stringToIcon }} " ></i></div>
          </p-card>
        </div>
      </div>
    </p-panel>
  </div>

<router-outlet></router-outlet>
