<app-header></app-header>

<div class="elementos card-bg-color">
  <p-panel header="Estado de los servicios">    
      <form [formGroup]="formFilterByDate">
        <div class="grid">
        <div class="p-field p-col-12 p-md-4 col-2 m-lefth" >
          <label class="col-6 m-rigth" for="time">Fecha inicial</label>          
          <p-calendar
            class="col-6"
            formControlName="date_begin_F"
            [required]="true"
            [showTime]="false"
            [showIcon]="true" 
            inputId="time"
            dateFormat="yy.mm.dd"
          ></p-calendar>
        </div>

        <div class="p-field p-col-12 p-md-4 col-2 m-lefth" >
          <label for="time" class="col-6 m-rigth">Fecha final</label
          >
          <p-calendar
            class="col-6"
            formControlName="date_end_F"
            [required]="true"
            [showTime]="false"
            [showIcon]="true" 
            inputId="time"
            dateFormat="yy.mm.dd"
          ></p-calendar>
        </div>
        <div clss="elementos col-1" style="margin-left: 50px; margin-top: 25px;">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-button-rounded"
            (click)="findByDateRange()"
           
          ></button>
        </div>
      </div>
      </form>
  </p-panel>
</div>

<div *ngIf="serviceActualStatus" class="elementos">
  
  <p-panel header="Estado de los servicios el {{serviceActualStatus[0][1][0].createdDate}}">
    <div class="p-mb-3">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
  </div>
    <p-table [value]="serviceActualStatus">
      <ng-template pTemplate="header">
        <tr>
          <th>Autorizador</th>
          <th>Recepção Evento4</th>
          <th>Consulta Cadastro4</th>
          <th>Tempo Médio</th>
          <th>Status Serviço4</th>
          <th>Consulta Protocolo4</th>
          <th>Inutilização4</th>
          <th>Retorno Autorização4</th>
          <th>Autorização4</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row[0].state }}</td>
          <td *ngFor="let actualStatus of row[1]">
            <i class="pi {{ actualStatus.status  | stringToIcon }} "></i>  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<router-outlet></router-outlet>
